@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body
{
	margin      : 0;
	padding     : 0;
	font-family : 'Montserrat', sans-serif;
	background-color : #faefdf  ;
}

#container
{
	display : flex;
}

#box
{
	margin-left :  16%;
	width       :  84%;
}

nav
{
	width            : 16%; 
	background       : linear-gradient(to right, #e66465, 50%, #9198e5);
	border-right     : 2px solid black;
	padding-bottom   : 100%;
	position         : fixed;
	list-style       : none;
}

nav h1
{
	color       : #FFF;
	font-family : 'Raleway', sans-serif;
	text-align  : center;
	font-size   : 35px;
}

nav .onglets a
{
	margin-left     : 5%;
	text-decoration : none;
	color           : black;
	margin-bottom   : 20%;
}

nav .onglets a
{
	color: white;
}

section
{
	width         : 100%;
	border-bottom : 75%;
	border-bottom : 2px solid gray;
} 

li
{
	margin-bottom : 1%;
}

.side-nav 
{
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

/* Pour cacher le sous-nav */
.wrapper 
{
  background: #333;
  height: 100vh;
  width: 75px;
}

/* Placement du "Compétences" pour le sous-nav */
.nav-bloc 
{
	display         : flex;
	cursor          : pointer;
	color           : white;
	margin-left     : 15%;
	text-decoration : underline;
}

/* Distance de translation du menu déroulant */
.nav-bloc:hover .sub-nav 
{
	transform : translateX(120%);
}

/* Pour le nav en lui-même*/
.sub-nav 
{
	padding    : 10px;
	width      : 200px;
	height     : 100%;
	position   : absolute;
	top        : 0;
	left       : 0;
	background : #e66465;

	/* Pour cacher le nav */
	transform: translateX(-100%);
	transition   : transform 0.2s ease-in-out;
	border-right : 2px solid #000;
}

.Texte
{
	padding-left : 7%;
	text-align   : justify;
}

.Titre
{
	font-family : 'Raleway', sans-serif;
	text-align  : center;
	color       : #e66465;
}

.DecoNav
{
	margin-bottom   : 20%;
	margin-left     : 10%;
	text-decoration : underline;
}

.DecoSousNav
{
	padding-top : 60%;
	color : white;
}


/*---------------*/
/* CSS DU FOOTER */
/*---------------*/
footer
{
	text-align   : center;
	padding-left : 16%;
	font-size    : 80%;
}

button
{
	margin           : 1%; 
	width            : 5%;
	border-radius    : 25%;
	background-color : white;
}

.dimImgFooter
{
	width : 45%;
}


/*---------------*/