@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body
{
	margin      : 0;
	padding     : 0;
	font-family : 'Montserrat', sans-serif;
}

#container
{
	display : flex;
}

#box
{
	margin-left :  16%;
	width       :  84%;
}

nav
{
	width            : 16%; 
	background       : linear-gradient(to right, #e66465, 50%, #9198e5);
    border-right     : 2px solid black;
    padding-bottom   : 100%;
    position         : fixed;
    list-style       : none;
}

nav h1
{
	color       : #FFF;
	font-family : 'Raleway', sans-serif;
	text-align  : center;
	font-size   : 35px;
}

nav .onglets a
{
	margin-left     : 5%;
	text-decoration : none;
	color           : black;
	margin-bottom   : 20%;
	color: white;
}

/* Modification apportées pour créer des encadrements prenant toute la taille de la page web */
section
{
	width         : 100%;
	border-bottom : 75%;
	border-bottom : 2px solid gray;
} 

/* Permet de mettre sur en ligne et avec un écart les liens du Projets_Travaux.html */
.Liste ul li
{
    display : inline;
    margin  : 4%;
}

/* Changer la couleur des liens dans le Projet_Travaux.html */
.Liste ul li a
{
    color : black;
}


/* Pour décaller le texte en rapport avec le titre */
.Texte
{
	padding-left : 5%;
	text-align   : justify;
}

/* Pour chacuns des titres des .html */
.Titre
{
	font-family : 'Raleway', sans-serif;
	text-align  : center;
	color       : #e66465;
	font-size   : 27px;
}

/* CSS Correspondant à la barre de navigation */
.DecoNav
{
	margin-bottom   : 20%;
	margin-left     : 10%;
	text-decoration : underline;
}

/* Pour modifier la taille de l'ImageIUT sur l'index.html */
.ImgPrinc
{
	/* Pour que la taille de l'img corresponde à la taille du site */
	width : 100%;
}

.TexteSAE
{
	text-align  : center;
	font-size   : 17px;
	font-weight : bold;
}

div .ImgSAE
{
	width : 50%;
	padding-left : 25%;
}

.LogoYtb
{
	width        : 10%;
	padding-left : 45%;
}

div .ImgSAE104
{
	width : 40%;
	padding-left : 30%;
}

/*---------------*/
/* CSS DU FOOTER */
/*---------------*/
footer
{
	text-align   : center;
	padding-left : 16%;
	font-size    : 80%;
}

button
{
	margin           : 1%; 
	width            : 5%;
	border-radius    : 50%;
	border           : none;
	background-color : white;
}

.dimImgFooter
{
	width : 45%;
}
/*---------------*/
